@import "../base/_variables";

.main__layout__content__and__right__sidebar {
  display: flex;
  flex-direction: row;

  .main__content__section {
    flex: 1 0 60%;
    margin: $space-small;
  }

  .main__right_sidebar__section {
    flex: 1 0 20%;
    margin: $space-small;
  }
}
