@import "../base/_variables";

.main__content {
  display: flex;
  flex-direction: row;

  .main__content__section {
    flex: 1 0 60%;
    margin: $space-small;
  }

  .main__rightsidebar {
    flex: 1 0 20%;
    margin: $space-small;
  }
}
