@import "../base/variables";

.footer {
  background-color: $--color-primary;

  .footer__top__container {
    display: flex;
    max-width: $max-width;
    margin: auto;

    .footer__top__first,
    .footer__top__second,
    .footer__top__third,
    .footer__top__fourth {
      flex: 1 0 20%;
      margin: $space-small;
    }

    .footer__bottom__container {
      max-width: $max-width;
      margin: auto;
      display:flex;
      justify-content:center;
    }
  }
}
